body, header, img {
    margin: 0;
    padding: 0;
    border: 0;
}
/*
html {
    background: url("img/Cover.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
*/
header {
    min-width: 100%;
    min-height: 100%;
}
header video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("img/Cover.jpg") no-repeat;
    background-size: cover;  
}
header h1 {
    top: 50%;
    left: 50%;
    
}